/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //TWAS process

    withName : SEPARATE_SNP_FOR_GENE{
        publishDir = [
            path: { "${params.outdir}/fusion/01.compute_weight/01.separate_snp_gene" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName : PLINK_FORMAT{
        publishDir = [
            path: { "${params.outdir}/fusion/01.compute_weight/02.plink_binary_format" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName : PHENOTYPE_DEAL{
        publishDir = [
            path: { "${params.outdir}/fusion/01.compute_weight/03.phenotype_resluts" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName : FUSION_COMPUTE_WEIGHTS{
        publishDir = [
            path: { "${params.outdir}/fusion/01.compute_weight/04.compute_weight_results" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName : MERGE_WEIGHT_INFO{
        publishDir = [
            path: { "${params.outdir}/fusion/01.compute_weight/05.merge_weight" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName : PLINK_CHR_FORMAT{
        publishDir = [
            path: { "${params.outdir}/fusion/02.TWAS/01.vcf_to_plink" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName : FUSION_ASSOC_TEST{
        publishDir = [
            path: { "${params.outdir}/fusion/03.TWAS/02.twas_results" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //eQTL
    
    withName : MAKE_GENE_INFO{ // 处理gff文件
        publishDir = [
            path: { "${params.outdir}/eQTL/01.gene_info" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName : GENE_EXPRESSION_FILTER{ //表格结果过滤 
        publishDir = [
            path: { "${params.outdir}/eQTL/02.gene_expression" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName : VCF_TO_INDENTIFY{ // 获得vcf中只有基因型格式的vcf
        publishDir = [
            path: { "${params.outdir}/eQTL/03.vcf_indentify" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName : VCF_TO_BIALLELIC{ // 去除vcf中多等位基因型的点
        publishDir = [
            path: { "${params.outdir}/eQTL/04.vcf_biallelic" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName : VCF_TO_NUM_EQTL{ // vcf格式变成数字0,1,2格式
        publishDir = [
            path: { "${params.outdir}/eQTL/05.vcf_num" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
   
    withName:EQTL_PROCESS{ //  进行eQTL工作，获得结果！
        publishDir = [
            path:{ "${params.outdir}/eQTL/06.eqtl_results"},
            mode: params.publish_dir_mode,
            pattern:"*.txt",
            saveAs:{ filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName : EQTL_RESULTS_FILTER{
        publishDir = [
            path: { "${params.outdir}/eQTL/06.eqtl_results" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    // eQTM
    withName : MAKE_GENE_INFO_EQTM{
        publishDir = [
            path: { "${params.outdir}/eQTM/01.gene_info" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName : GENE_EXPRESSION_FILTER_EQTM{
        publishDir = [
            path: { "${params.outdir}/eQTM/02.gene_expression" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName : VCF_TO_MENOTYPE_INDENIFY{
        publishDir = [
            path: { "${params.outdir}/eQTM/03.vcf_indentify" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

     withName : VCF_TO_MENOTYPE_BIALLELIC{ // 去除vcf中多等位基因型的点
        publishDir = [
            path: { "${params.outdir}/eQTL/04.vcf_biallelic" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName : VCF_TO_NUM_EQTM{
        publishDir = [
            path: { "${params.outdir}/eQTM/05.vcf_num" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName:EQTM_PROCESS{
        publishDir = [
            path:{ "${params.outdir}/eQTL/06.eqtm_results"},
            mode: params.publish_dir_mode,
            pattern:"*.txt",
            saveAs:{ filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //meQTL

    withName:BETA_MATRIX_TO_MEQTL{ // 获得甲基化的位点信息和甲基化矩阵
        publishDir = [
            path:{ "${params.outdir}/meQTL/01.methylation_info" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }

    withName:VCF_TO_MENOTYPE_INDENIFY{
        publishDir = [
            path:{ "${params.outdir}/meQTL/02.methylation_vcf_indentify" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }

    withName:VCF_TO_MENOTYPE_BIALLELIC{
        publishDir = [
            path:{ "${params.outdir}/meQTL/03.methylation_vcf_biallelic" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }

    withName:VCF_TO_NUM_MEQTL{
        publishDir = [
            path:{ "${params.outdir}/meQTL/04.methylation_vcf_num" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }

    withName:MEQTL_PROCESS{
        publishDir = [
            path:{ "${params.outdir}/meQTL/05.meQTL_results" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }

    withName:FAMDB{
        publishDir = [
            path:{ "${params.outdir}/meQTL/06.pureMethlation/01.get_repeat_database" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }

    withName:REPEATMASKER{
        publishDir = [
            path:{ "${params.outdir}/meQTL/06.pureMethlation/02.repeatmasker" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }

    withName:MAKE_BED_REPEATMASKER{
        publishDir = [
            path:{ "${params.outdir}/meQTL/06.pureMethlation/03.make_gene_bed" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }
    
    withName:MAKE_BED_METHYLATION{
        publishDir = [
            path:{ "${params.outdir}/meQTL/06.pureMethlation/04.make_methylation_bed" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }

    withName:MAKE_BED_SNP{
        publishDir = [
            path:{ "${params.outdir}/meQTL/06.pureMethlation/05.make_snp_bed" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }
    
    withName:MAKE_BED_INDEL{
        publishDir = [
            path:{ "${params.outdir}/meQTL/06.pureMethlation/06.make_indel_bed" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }

    withName:BEDTOOLS_INTER_METHYLATION_SNP{
        publishDir = [
            path:{ "${params.outdir}/meQTL/06.pureMethlation/07.bedtools_inter_me_snp" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }
    
    withName:BEDTOOLS_INTER_METHYLATION_INDEL{
        publishDir = [
            path:{ "${params.outdir}/meQTL/06.pureMethlation/08.bedtools_inter_me_indel" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }

    withName:BEDTOOLS_INTER_METHYLATION_REPEATMASKER{
        publishDir = [
            path:{ "${params.outdir}/meQTL/06.pureMethlation/09.repeatmasker_results" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }    
        ]
    }
}
