/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}

//data quality control
process {
    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/01_QC/01_fastqc_raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/01_QC/02_multiqc_raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: FASTP {
        ext.adapter_list = params.adapter_fasta ? "--adapter_fasta ${params.adapter_fasta}" : ""
        publishDir = [
            path: { "${params.outdir}/01_QC/03_fastp_trim" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: FASTQC_CLEAN {
        publishDir = [
            path: { "${params.outdir}/01_QC/04_fastqc_clean" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MULTIQC_CLEAN {
        publishDir = [
            path: { "${params.outdir}/01_QC/05_multiqc_clean" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

//reads alignment

process {
    withName: MERGE_FASTQ {
        publishDir = [
            path: { "${params.outdir}/02_Alignment/01_merge_fastq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BWAMEM2_INDEX {
        publishDir = [
            path: { "${params.outdir}/02_Alignment/02_bwamem2_index" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BWAMEM2_MEM {
        publishDir = [
            path: { "${params.outdir}/02_Alignment/03_bwamem2_mem_align" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        //ext.args = { "-R '@RG"+'\t'+"ID:${meta.id}_lc"+'\t'+"LB:lc"+'\t'+"PL:UNKNOWN"+'\t'+"SM:${meta.id}'" } 
        //it cause error when bwa Add this line into @PG line which cause splitingof@PG has two ID! use picard.
    }
    withName: PICARD_ADDORREPLACEREADGROUPS {
        publishDir = [
            path: { "${params.outdir}/02_Alignment/03_bwamem2_mem_align" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = {"--RGID ${meta.id}_lc --RGLB lc --RGPL UNKNOWN --RGPU NOPU --RGSM ${meta.id}"}
        ext.prefix ={"${meta.id}_addheader"}
    }
    withName: SAMTOOLS_INDEX_MAPPING {
        publishDir = [
            path: { "${params.outdir}/02_Alignment/03_bwamem2_mem_align" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: QUALIMAP_BAMQC {
        publishDir = [
            path: { "${params.outdir}/02_Alignment/04_align_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

//variants calling

process {
    withName: SAMTOOLS_VIEW_FIL20 {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/01_samtools_fill_q20" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = {'-b -q 20 --output-fmt bam'}
        ext.args3 = {'_q20'}
    }
    withName: PICARD_SORTSAM {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/02_picard_sort" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]        
    }
    withName: SAMTOOLS_FAIDX {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/03_genome_faidx" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]        
    }
    withName: PICARD_MARKDUPLICATES {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix={"${meta.id}_dedup"}
    }
    withName: SAMTOOLS_INDEX_VARIANT_CALLING {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: PICARD_COLLECTMULTIPLEMETRICS {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling/MultipleMetrics" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: PICARD_COLLECTINSERTSIZEMETRICS {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling/InsertSizeMetrics" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SAMTOOLS_DEPTH {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling/Depth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta1.id}_depth"}
        ext.args={"-a"}
    }
    withName: GATK4_CREATESEQUENCEDICTIONARY {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/03_genome_faidx" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: GATK4_HAPLOTYPECALLER_PREPARE {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_raw"}
    }
    withName: GATK4_SELECTVARIANTS_SNP {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_raw_snp"}
        ext.args={"-select-type SNP"}
    }
    withName: GATK4_SELECTVARIANTS_INDEL {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_raw_indel"}
        ext.args={"-select-type INDEL"}
    }
    withName: GATK4_VARIANTFILTRATION_SNP {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_raw_snp_filtered"}
        ext.args={
        '-filter-name '+'"'+'QD_filter'+'"'+' -filter '+'"'+'QD < 2.0'+'"'+
        ' -filter-name '+'"'+'FS_filter'+'"'+' -filter '+'"'+'FS > 60.0'+'"'+
        ' -filter-name '+'"'+'MQ_filter'+'"'+' -filter '+'"'+'MQ < 40.0'+'"'+
        ' -filter-name '+'"'+'SOR_filter'+'"'+' -filter '+'"'+'SOR > 4.0'+'"'+
        ' -filter-name '+'"'+'MQRankSum_filter'+'"'+' -filter '+'"'+'MQRankSum < -12.5'+'"'+
        ' -filter-name '+'"'+'ReadPosRankSum_filter'+'"'+' -filter '+'"'+'ReadPosRankSum < -8.0'+'"'
        }
    }
    withName: GATK4_VARIANTFILTRATION_INDEL {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_raw_indel_filtered"}
        ext.args={
        '-filter-name '+'"'+'QD_filter'+'"'+' -filter '+'"'+'QD < 2.0'+'"'+
        ' -filter-name '+'"'+'FS_filter'+'"'+' -filter '+'"'+'FS > 200.0'+'"'+
        ' -filter-name '+'"'+'SOR_filter'+'"'+' -filter '+'"'+'SOR > 10.0'+'"'
        }
    }
    withName: GATK4_SELECTVARIANTS_SNP_BQ {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_for_bqsr_snp"}
        ext.args={'--exclude-filtered'}
    }
    withName: GATK4_SELECTVARIANTS_INDEL_BQ {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_for_bqsr_indel"}
        ext.args={'--exclude-filtered'}
    }
    withName: GATK4_BASERECALIBRATOR {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_bqsr"}
    }
    withName: GATK4_APPLYBQSR {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_bqsr"}
    }
    withName: SAMTOOLS_INDEX_BQSR {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_bqsr"}
    }
    withName: GATK4_BASERECALIBRATOR_FORSTAT {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling/bqsr_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_bqsrstat"}
    }
    withName: GATK4_ANALYZECOVARIATES {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/04_pre_calling/bqsr_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_bqsrstat"}
    }
    withName: GATK4_HAPLOTYPECALLER_GVCF{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/05_gvcf" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.args={"-ERC GVCF"}
        ext.prefix={"${meta.id}.g"}
    }
}
//population variants calling

process {
    withName: GET_CHROMSOME_LST {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/03_genome_faidx" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: GATK4_GENOMICSDBIMPORT {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/06_genomicdb" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.args={"--genomicsdb-shared-posixfs-optimizations true --batch-size 100"}
    }
    withName: GATK4_GENOTYPEGVCFS{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args={"-G StandardAnnotation -new-qual"}
    }
    withName: GATK4_GATHERVCFS{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: GATK4_SELECTVARIANTS_SNP_HQ{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix={"${meta.id}_snp_forhq"}
        ext.args={"-select-type SNP"}
    }
    withName: GATK4_SELECTVARIANTS_INDEL_HQ{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix={"${meta.id}_indel_forhq"}
        ext.args={"-select-type INDEL"}
    }
    withName: GATK4_VARIANTFILTRATION_SNP_FOR_VQ {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_snp_hq"}
        ext.args={
        '-filter-name '+'"'+'QD_filter'+'"'+' -filter '+'"'+'QD < 2.0'+'"'+
        ' -filter-name '+'"'+'QUAL_filter'+'"'+' -filter '+'"'+'QUAL < 30.0'+'"'+
        ' -filter-name '+'"'+'FS_filter'+'"'+' -filter '+'"'+'FS > 60.0'+'"'+
        ' -filter-name '+'"'+'MQ_filter'+'"'+' -filter '+'"'+'MQ < 40.0'+'"'+
        ' -filter-name '+'"'+'SOR_filter'+'"'+' -filter '+'"'+'SOR > 3.0'+'"'+
        ' -filter-name '+'"'+'MQRankSum_filter'+'"'+' -filter '+'"'+'MQRankSum < -12.5'+'"'+
        ' -filter-name '+'"'+'ReadPosRankSum_filter'+'"'+' -filter '+'"'+'ReadPosRankSum < -8.0'+'"'
        }
    }
    withName: GATK4_VARIANTFILTRATION_INDEL_FOR_VQ {
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_indel_hq"}
        ext.args={
        '-filter-name '+'"'+'QD_filter'+'"'+' -filter '+'"'+'QD < 2.0'+'"'+
        ' -filter-name '+'"'+'QUAL_filter'+'"'+' -filter '+'"'+'QUAL < 30.0'+'"'+
        ' -filter-name '+'"'+'FS_filter'+'"'+' -filter '+'"'+'FS > 200.0'+'"'+
        ' -filter-name '+'"'+'ReadPosRankSum_filter'+'"'+' -filter '+'"'+'ReadPosRankSum < -20.0'+'"'
        }
    }
    withName: FILTER_PASS_VARIANT_FOR_VQ{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_forVQSR"}
    }
    withName: GATK4_INDEXFEATUREFILE_FOR_VQ{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: GATK4_VARIANTRECALIBRATOR_INDEL{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_indel_vqsr"}
        ext.args={
        '-an DP -an QD -an FS -an SOR -an ReadPosRankSum -an MQRankSum '+
        '-mode INDEL '+
        '--max-gaussians 4 '
        }
        ext.resource1={"--resource:HQindel,known=true,training=true,truth=true,prior=12.0"}
        ext.resource2={"--resource:indel,known=true,training=false,truth=false,prior=2.0"}
    }
    withName: GATK4_APPLYVQSR_INDEL{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_indel_vqsr"}
        ext.args={"-mode INDEL --truth-sensitivity-filter-level 99.0"}
    }
    withName: GATK4_VARIANTRECALIBRATOR_SNP{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_indel_snp_vqsr"}
        ext.args={
        '-an DP -an QD -an FS -an SOR -an ReadPosRankSum -an MQRankSum '+
        '-mode SNP '+
        '-tranche 100.0 -tranche 99.9 -tranche 99.0 -tranche 95.0 -tranche 90.0 '
        }
        ext.resource1={"--resource:HQsnp,known=true,training=true,truth=true,prior=12.0"}
        ext.resource2={"--resource:snp,known=true,training=false,truth=false,prior=2.0"}
    }
    withName: GATK4_APPLYVQSR_SNP{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_indel_snp_vqsr"}
        ext.args={"-mode SNP --truth-sensitivity-filter-level 99.0"}
    }
    withName: GATK4_SELECTVARIANTS_SNP_VQ{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_after_vqsr_snp"}
        ext.args={"-select-type SNP"}
    }
    withName: GATK4_SELECTVARIANTS_INDEL_VQ{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/07_population_precalling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_after_vqsr_indel"}
        ext.args={"-select-type INDEL"}
    }
    withName: FILTER_PASS_VARIANT_VQ{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/08_population_variants" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        publishDir = [
            path:{ "${params.outdir}/output/03_Variants_calling/08_population_variants" },
            mode: params.publish_dir_mode,
            pattern: "*.vcf.gz"
        ] 
        ext.prefix={"${meta.id}_afterVQSR_filtered"}
    }
    withName: GATK4_INDEXFEATUREFILE_VQ{
        publishDir = [
            path: { "${params.outdir}/03_Variants_calling/08_population_variants" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }

}

//population variants annotation
process {
    withName: ANNO_GFF3TOGENEPRED {
        publishDir = [
            path: { "${params.outdir}/04_Variants_annotation/01_annotation_prepare" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_refGene.txt"}
    }
    withName: ANNO_RETRIEVE_SEQ {
        publishDir = [
            path: { "${params.outdir}/04_Variants_annotation/01_annotation_prepare" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_refGeneMrna"}
    }
    withName: ANNO_CONVERT2ANNOVAR {
        publishDir = [
            path: { "${params.outdir}/04_Variants_annotation/01_annotation_prepare" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_vcf2anno"}
    }
    withName: ANNO_TABLE {
        publishDir = [
            path: { "${params.outdir}/04_Variants_annotation/02_annotation_result" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        ext.prefix={"${meta.id}_annotation"}
    }
   
}

//population structure
process {
    withName: STURCTURE_VCF_ADDID {
        publishDir = [
            path: { "${params.outdir}/05_Population_structure/01_variant_prepare" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: PLINK_INDEP {
        publishDir = [
            path: { "${params.outdir}/05_Population_structure/01_variant_prepare" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.window_size={"500"}
        ext.variant_count={"10"}
        ext.variance_inflation_factor={"0.05"}
        ext.prefix={"${meta.id}_indep_${task.ext.window_size}_${task.ext.variant_count}_${task.ext.variance_inflation_factor}"}
        ext.args={"--noweb --allow-extra-chr"}
    }
    withName: PLINK_EXTRACT {
        publishDir = [
            path: { "${params.outdir}/05_Population_structure/01_variant_prepare" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix={"${meta.id}"}
        ext.args={"--noweb --allow-extra-chr"}
    }
    withName: ADMIXTURE {
        publishDir = [
            path: { "${params.outdir}/05_Population_structure/02_structure_result" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

//population pca
process {
    withName: PCA_VCF_ADDID {
        publishDir = [
            path: { "${params.outdir}/06_Population_PCA/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: VCFTOOLS_PLINK {
        publishDir = [
            path: { "${params.outdir}/06_Population_PCA/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: PLINK_MAKEBED {
        publishDir = [
            path: { "${params.outdir}/06_Population_PCA/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: GCTA_MAKEGRM {
        publishDir = [
            path: { "${params.outdir}/06_Population_PCA/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: GCTA_PCA {
        publishDir = [
            path: { "${params.outdir}/06_Population_PCA/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: GCTA_PCA_PLOT {
        publishDir = [
            path: { "${params.outdir}/06_Population_PCA/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

//gwas emmax
process {
    withName: EMMAX_VCF_GROUPPING {
        publishDir = [
            path: { "${params.outdir}/07_Gwas/01_Emmax/${meta.id}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: EMMAX_VCF_ADDID {
        publishDir = [
            path: { "${params.outdir}/07_Gwas/01_Emmax/${meta.id}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
        //ext.prefix={"${meta.id}_addid"}
    }
    withName: EMMAX_PLINK_INDEP {
        publishDir = [
            path: { "${params.outdir}/07_Gwas/01_Emmax/${meta.id}/kinship_admixture" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: EMMAX_PLINK_EXTRACT {
        publishDir = [
            path: { "${params.outdir}/07_Gwas/01_Emmax/${meta.id}/kinship_admixture" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] 
    }
    withName: EMMAX_ADMIXTURE {
        publishDir = [
            path: { "${params.outdir}/07_Gwas/01_Emmax/${meta.group}/kinship_admixture" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: GWAS_EMMAX_PLINK_FMAT {
        publishDir = [
            path: { "${params.outdir}/07_Gwas/01_Emmax/${meta.id}/variant_format/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: GWAS_EMMAX_COV {
        publishDir = [
            path: { "${params.outdir}/07_Gwas/01_Emmax/${meta.id}/cov/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: STRUCTURE_PLOT {
        publishDir = [
            path: { "${params.outdir}/07_Gwas/01_Emmax/${meta.id}/cov/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: GWAS_EMMAX_KINSHIP {
        publishDir = [
            path: { "${params.outdir}/07_Gwas/01_Emmax/${meta.id}/kinship/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: GWAS_EMMAX_ASSOCIATE {
        publishDir = [
            path: { "${params.outdir}/07_Gwas/01_Emmax/${meta.id}/result/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix={"${meta.id}_${whichphy}_${korkq}"}
    }
   
    withName: GWAS_EMMAX_CMPLOT {
        publishDir = [
            path: { "${params.outdir}/07_Gwas/01_Emmax/${meta.id}/result/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: GWAS_EMMAX_ANNOTATION {
        publishDir = [
            path: { "${params.outdir}/07_Gwas/01_Emmax/${meta.id}/result/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
