/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    withName: SAMTOOLS_FAIDX {
        ext.args = ""
        publishDir = [
            publishDir = [
            path: { "${params.outdir}/00.prepare_genome/01.samtools_faidx" },
            mode: params.publish_dir_mode,
            enabled: params.save_reference,
            pattern: "*.fai"
           ],
           publishDir = [
            path: { "${params.outdir}/00.prepare_genome/02.samtools_kary" },
            mode: params.publish_dir_mode,
            enabled: params.save_reference,
            pattern: "*.kary"
           ]
        ]
   }
    withName: FASTQC_BEFORE {
        ext.args = '--quiet'
        publishDir = [
            [
                path: { "${params.outdir}/01.fastqc/01.fastqc_before/01.html" },
                mode: params.publish_dir_mode,
                pattern: "*.html"
            ],
            [
                path: { "${params.outdir}/output_report/01.fastqc/01.fastqc_before" },
                mode: params.publish_dir_mode,
                pattern: "*.html"
            ],
            [
                path: { "${params.outdir}/output_report/01.fastqc/01.fastqc_before/02.zip" },
                mode: params.publish_dir_mode,
                pattern: "*.zip"
            ],
            [
                path: { "${params.outdir}/01.fastqc/01.fastqc_before/02.zip" },
                mode: params.publish_dir_mode,
                pattern: "*.zip"
            ]
        ]
    }

    withName:CAT_FASTQ {
        publishDir = [
            path: { "${params.outdir}/01.fastqc/00.cat_fastq" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: FASTQC_AFTER {
        ext.args = '--quiet'
        publishDir = [
            [
                path: { "${params.outdir}/01.fastqc/02.fastqc_after/01.html" },
                mode: params.publish_dir_mode,
                pattern: "*.html"
            ],
            [
                path: { "${params.outdir}/01.fastqc/02.fastqc_after/02.zip" },
                mode: params.publish_dir_mode,
                pattern: "*.zip"
            ]
        ]
    }

    withName: TRIMGALORE {
        ext.args = { [
            // Static args
            '--fastqc',

            // Special flags
            params.rrbs ? '--rrbs' : '',
            params.nextseq_trim > 0 ? "--nextseq ${params.nextseq_trim}" : '',

            // Trimming - R1
            params.clip_r1 > 0 ? "--clip_r1 ${params.clip_r1}" : (
                params.pbat ? "--clip_r1 9" : (
                    (params.single_cell || params.cegx) ? "--clip_r1 6" : (
                        params.epignome ? "--clip_r1 8" : (
                            (params.accel || params.zymo || params.em_seq) ? "--clip_r1 10" : ''
                        )
                    )
                )
            ),

            // Trimming - R2
            meta.single_end ? '' : (
                params.clip_r2 > 0 ? "--clip_r2 ${params.clip_r2}" : (
                    params.pbat ? "--clip_r2 9" : (
                        (params.single_cell || params.cegx) ? "--clip_r2 6" : (
                            params.epignome ? "--clip_r2 8" : (
                                (params.zymo || params.em_seq) ? "--clip_r2 10" : (
                                    params.accel ? "--clip_r2 15" : ''
                                )
                            )
                        )
                    )
                )
            ),

            // Trimming - 3' R1
            params.three_prime_clip_r1 > 0 ? "--three_prime_clip_r1 ${params.three_prime_clip_r1}" : (
                params.pbat ? "--three_prime_clip_r1 9" : (
                    params.single_cell ? "--three_prime_clip_r1 6" : (
                        params.cegx ? "--three_prime_clip_r1 2" : (
                            params.epignome ? "--three_prime_clip_r1 8" : (
                                (params.accel || params.zymo || params.em_seq) ? "--three_prime_clip_r1 10" : ''
                            )
                        )
                    )
                )
            ),

            // Trimming - 3' R2
            meta.single_end ? '' : (
                params.three_prime_clip_r2 > 0 ? "--three_prime_clip_r2 ${params.three_prime_clip_r2}" : (
                    params.pbat ? "--three_prime_clip_r2 9" : (
                        params.single_cell ? "--three_prime_clip_r2 6" : (
                            params.cegx ? "--three_prime_clip_r2 2" : (
                                params.epignome ? "--three_prime_clip_r2 8" : (
                                    (params.accel || params.zymo || params.em_seq) ? "--three_prime_clip_r2 10" : ''
                                )
                            )
                        )
                    )
                )
            ),
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/01.fastqc/03.trimgalore/01.fastqc" },
                mode: params.publish_dir_mode,
                pattern: "*.html"
            ],
            [
                path: { "${params.outdir}/01.fastqc/03.trimgalore/01.fastqc/01.zips" },
                mode: params.publish_dir_mode,
                pattern: "*.zip"
            ],
            [
                path: { "${params.outdir}/output_report/02.trimgalore/01.fastqc/01.zips" },
                mode: params.publish_dir_mode,
                pattern: "*.zip"
            ],
            [
                path: { "${params.outdir}/01.fastqc/03.trimgalore/02.clean_data" },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                enabled: params.save_trimmed
            ],
            [
                path: { "${params.outdir}/01.fastqc/03.trimgalore/03.logs" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ],
            [
                path: { "${params.outdir}/output_report/02.trimgalore/02.logs" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ],
        ]
    }

    withName:MULTIQC_BEFRORE{
            publishDir = [
                path: { "${params.outdir}/01.fastqc/04.multiqc/01.before" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
    }
    withName:MULTIQC_CLEAN{
            publishDir = [
                path: { "${params.outdir}/01.fastqc/04.multiqc/02.after" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
    }

    withName: BISMARK_GENOMEPREPARATION {
        ext.args = [
            params.aligner == 'bismark_hisat' ? ' --hisat2' : ' --bowtie2',
            params.slamseq ? ' --slam' : ''
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/02.Alignment/01.${params.aligner}/00.BismarkIndex" },
            saveAs: { it =~ /.*\.yml/ ? null : it },
            mode: params.publish_dir_mode,
            enabled: params.save_reference
        ]
    }

    withName: BISMARK_ALIGN {
        ext.args = { [
            params.aligner == 'bismark_hisat' ? ' --hisat2' : ' --bowtie2',
            params.aligner == 'bismark_hisat' && params.known_splices ? " --known-splicesite-infile <(hisat2_extract_splice_sites.py ${known_splices})" : '',
            params.pbat ? ' --pbat' : '',
            ( params.single_cell || params.non_directional || params.zymo ) ? ' --non_directional' : '',
            params.unmapped ? ' --unmapped' : '',
            params.relax_mismatches ? " --score_min L,0,-${params.num_mismatches}" : '',
            params.local_alignment ? " --local" : '',
            !meta.single_end && params.minins ? " --minins ${params.minins}" : '',
            meta.single_end ? '' : (
                params.maxins ? " --maxins ${params.maxins}" : (
                    params.em_seq ? " --maxins 1000" : ''
                )
            )
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/02.Alignment/01.${params.aligner}/01.unmapped" },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                enabled: params.unmapped
            ],
            [
                path: { "${params.outdir}/02.Alignment/01.${params.aligner}/02.mapped" },
                mode: params.publish_dir_mode,
                pattern: "*.bam",
                enabled: (params.save_align_intermeds || params.skip_deduplication || params.rrbs)
            ],
            [
                path: { "${params.outdir}/02.Alignment/01.${params.aligner}/03.logs" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ]
        ]
    }

    withName:SAMTOOLS_SORT_ALIGNED{
        publishDir = [
            path: { "${params.outdir}/02.Alignment/01.${params.aligner}/04.sort_bam" },
                mode: params.publish_dir_mode,
                pattern: "*"
        ]
    }

    withName: BISMARK_DEDUPLICATE {
        ext.args = ''
        publishDir = [
            [
                path: { "${params.outdir}/02.Alignment/01.${params.aligner}/05.deduplicated/01.logs" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ],
            [
                path: { "${params.outdir}/02.Alignment/01.${params.aligner}/05.deduplicated/02.deduplicated_bam" },
                mode: params.publish_dir_mode,
                pattern: "*.bam"
            ]
        ]
    }

    withName: BISMARK_METHYLATIONEXTRACTOR {
        ext.args = { [
            params.comprehensive   ? ' --comprehensive --merge_non_CpG' : '',
            params.meth_cutoff     ? " --cutoff ${params.meth_cutoff}" : '',
            params.nomeseq         ? '--CX' : '',
            params.ignore_r1 > 0   ? "--ignore ${params.ignore_r1}" : '',
            params.ignore_3prime_r1 > 0   ? "--ignore_3prime ${params.ignore_3prime_r1}" : '',
            meta.single_end ? '' : (params.no_overlap           ? ' --no_overlap'                         : '--include_overlap'),
            meta.single_end ? '' : (params.ignore_r2        > 0 ? "--ignore_r2 ${params.ignore_r2}"       : ""),
            meta.single_end ? '' : (params.ignore_3prime_r2 > 0 ? "--ignore_3prime_r2 ${params.ignore_3prime_r2}": "")
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/03.Methylation_calling/01.${params.aligner}/01.methylation_calls/01.mbias" },
                mode: params.publish_dir_mode,
                pattern: "*M-bias.txt"
            ],
            [
                path: { "${params.outdir}/03.Methylation_calling/01.${params.aligner}/01.methylation_calls/02.methylation_coverage" },
                mode: params.publish_dir_mode,
                pattern: "*cov.gz"
            ],
            [
                path: { "${params.outdir}/03.Methylation_calling/01.${params.aligner}/01.methylation_calls/03.bedGraph" },
                mode: params.publish_dir_mode,
                pattern: "*bedGraph.gz"
            ],
            [
                path: { "${params.outdir}/03.Methylation_calling/01.${params.aligner}/01.methylation_calls/04.splitting_report" },
                mode: params.publish_dir_mode,
                pattern: "*splitting_report.txt"
            ],
            [
                path: { "${params.outdir}/03.Methylation_calling/01.${params.aligner}/01.methylation_calls/05.methylation_calls" },
                mode: params.publish_dir_mode,
                pattern: "*deduplicated.txt"
            ],
            [
                path: { "${params.outdir}/03.Methylation_calling/01.${params.aligner}/01.methylation_calls/06.methylation_calls" },
                mode: params.publish_dir_mode,
                pattern: "*.CX_report.txt"
            ]
        ]
    }

 
    withName: BISMARK_COVERAGE2CYTOSINE {
        ext.args = params.nomeseq ? '--nome-seq' : ''
        publishDir = [
            publishDir = [
                path: { "${params.outdir}/03.Methylation_calling/01.${params.aligner}/02.coverage2cytosine/00.summaries" },
                mode: params.publish_dir_mode,
                pattern: "*_summary.txt"
            ],
            publishDir = [
                path: { "${params.outdir}/03.Methylation_calling/01.${params.aligner}/02.coverage2cytosine/01.reports" },
                mode: params.publish_dir_mode,
                pattern: "*_report.txt.gz"
            ],
            publishDir = [
                path: { "${params.outdir}/03.Methylation_calling/01.${params.aligner}/02.coverage2cytosine/02.coverage" },
                mode: params.publish_dir_mode,
                pattern: "*cov.gz"
            ]
        ]
    }

    withName: BISMARK_REPORT {
        ext.args = ''
        publishDir = [
            path: "${params.outdir}/03.Methylation_calling/01.${params.aligner}/03.reports",
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
    }


    withName: BISMARK_SUMMARY {
        ext.args = ''
        publishDir = [
            publishDir = [
            path: "${params.outdir}/03.Methylation_calling/01.${params.aligner}/04.summary",
            mode: params.publish_dir_mode,
            pattern: "*.{html,txt}"
            ],
            publishDir = [
                path: "${params.outdir}/output_report/03.Methylation_calling/04.summary",
                mode: params.publish_dir_mode,
                pattern: "*.{html,txt}"
            ]
        ]
        
    }

    withName: SAMTOOLS_SORT_DEDUPLICATED {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            [
                path: { "${params.outdir}/02.Alignment/01.${params.aligner}/05.deduplicated/03.sort_deduplicated_markdup_bam" },
                mode: params.publish_dir_mode,
                pattern: "*markdup*.bam",
                enabled: params.save_align_intermeds
            ],
            [
                path: { "${params.outdir}/02.Alignment/01.${params.aligner}/05.deduplicated/04.sort_deduplicated_bam" },
                mode: params.publish_dir_mode,
                pattern: "*.bam",
                enabled: params.save_align_intermeds
            ]
        ]
    }
    withName: BISMARK2BEDGRAPH{
        ext.args = params.cutoff ? "--cutoff ${params.meth_cutoff}" : "--cutoff 20"
        publishDir = [
            path: "${params.outdir}/03.Methylation_calling/01.${params.aligner}/05.bismark2bedgraph",
            mode: params.publish_dir_mode,
            pattern: "*.gz"
        ]
    }

    withName:METILENE_INPUT{
        publishDir = [
            publishDir = [
                path: "${params.outdir}/04.metilene/01.inter_bedgraph",
                mode: params.publish_dir_mode,
                pattern: "*.bedgraph"
                ],
            publishDir = [
                path: "${params.outdir}/output_report/04.inter_bedgraph",
                mode: params.publish_dir_mode,
                pattern: "*.bedgraph"
                ]
        ]
    }
    
    withName:FILTER_BED_CHG{
        publishDir = [
            path:"${params.outdir}/05.Ewas/01.filte_bed",
            mode:params.publish_dir_mode,
            pattern:"*"
        ]
       
    }
    withName:FILTER_BED_CPG{
        publishDir = [
            path:"${params.outdir}/05.Ewas/01.filte_bed",
            mode:params.publish_dir_mode,
            pattern:"*" 
        ]
       
    }
    withName:FILTER_BED_CHH{
        publishDir = [
            path:"${params.outdir}/05.Ewas/01.filte_bed",
            mode:params.publish_dir_mode,
            pattern:"*"
        ]
        
    }

    withName:METILENEDMR{
        publishDir = [
            publishDir = [
                path:"${params.outdir}/04.metilene/02.dmr_results",
                mode:params.publish_dir_mode,
                pattern:"*"
            ],
            publishDir = [
                path:"${params.outdir}/outpput_report/05.dmr_results",
                mode:params.publish_dir_mode,
                pattern:"*"
            ] 
        ]
    }

    withName:PLOT_HISTORGAM_CHG{
        publishDir = [
            path: "${params.outdir}/output_report/04.inter_bedgraph/chg_statics",
                mode: params.publish_dir_mode,
                pattern: "*.png"
        ]
    }
    withName:PLOT_HISTORGAM_CPG{
        publishDir = [
            path: "${params.outdir}/output_report/04.inter_bedgraph/cpg_statics",
                mode: params.publish_dir_mode,
                pattern: "*.png"
        ]
    }
    withName:PLOT_HISTORGAM_CHH{
        publishDir = [
            path: "${params.outdir}/output_report/04.inter_bedgraph/chh_statics",
                mode: params.publish_dir_mode,
                pattern: "*.png"
        ]
    }

    withName:BEDGRAPH2BOD_CHG{
        publishDir = [
            path: "${params.outdir}/05.Ewas/02.bod/01.CHG_bedgraph2bod",
                mode: params.publish_dir_mode,
                pattern: "*"
        ]
    }
 
    withName:BEDGRAPH2BOD_CPG{
        publishDir = [
            path: "${params.outdir}/05.Ewas/02.bod/02.CPG_bedgraph2bod",
                mode: params.publish_dir_mode,
                pattern: "*"
        ]
    }
 
    withName:BEDGRAPH2BOD_CHH{
        publishDir = [
            path: "${params.outdir}/05.Ewas/02.bod/03.CHH_bedgraph2bod",
                mode: params.publish_dir_mode,
                pattern: "*"
        ]
    }

    withName:BEDTRANFORMBOD{
        publishDir=[
            path: "${params.outdir}/05.Ewas/02.bod/04.bedgraph2bod",
                mode: params.publish_dir_mode,
                pattern: "*"
        ]
    }

    withName:PHENOTYPE_CLASS{
        publishDir=[
            path:"${params.outdir}/05.Ewas/04.osca-ewas",
            mode:params.publish_dir_mode,
            pattern:"*"
        ]
    }

    withName:OSCAPCA_CHG{
        publishDir=[
            path:"${params.outdir}/05.Ewas/03.osca-pca",
            mode:params.publish_dir_mode,
            pattern:"*"
        ]
    }

    withName:OSCAPCA_CPG{
        publishDir=[
            path:"${params.outdir}/05.Ewas/03.osca-pca",
            mode:params.publish_dir_mode,
            pattern:"*"
        ]
    }

    withName:OSCAPCA_CHH{
        publishDir=[
            path:"${params.outdir}/05.Ewas/03.osca-pca",
            mode:params.publish_dir_mode,
            pattern:"*"
        ]
    }

    withName:OSCAEWASPCA_CHG{
        publishDir = [
            path:"${params.outdir}/05.Ewas/04.osca-ewas",
            mode:params.publish_dir_mode,
            pattern:"*"
        ]
        
    }
    withName:OSCAEWASPCA_CPG{
        publishDir = [
             path:"${params.outdir}/05.Ewas/04.osca-ewas",
            mode:params.publish_dir_mode,
            pattern:"*"
        ]
       
    }
    withName:OSCAEWASPCA_CHH{
        publishDir = [
            path:"${params.outdir}/05.Ewas/04.osca-ewas",
            mode:params.publish_dir_mode,
            pattern:"*"
        ]
        
    }

    withName:EWAS_PLOT_CHG{
        publishDir = [
            publishDir = [
            path:{"${params.outdir}/05.Ewas/05.ewas_plot/01.chg"},
            mode:params.publish_dir_mode,
            pattern:"*.jpg"
        ],
        publishDir = [
            path:{"${params.outdir}/output_report/05.ewas_plot/chg"},
            mode:params.publish_dir_mode,
            pattern:"*.jpg"
        ]
        ]
    
    }

    withName:EWAS_PLOT_CPG{
        publishDir = [
            publishDir = [
            path:{"${params.outdir}/05.Ewas/05.ewas_plot/02.cpg"},
            mode:params.publish_dir_mode,
            pattern:"*.jpg"
        ],
        publishDir = [
            path:{"${params.outdir}/output_report/05.ewas_plot/cpg"},
            mode:params.publish_dir_mode,
            pattern:"*.jpg"
        ]
        ]
        
    }

    withName:EWAS_PLOT_CHH{
        publishDir = [
            publishDir = [
            path:{"${params.outdir}/05.Ewas/05.ewas_plot/03.chh"},
            mode:params.publish_dir_mode,
            pattern:"*.jpg"
        ],
        publishDir = [
            path:{"${params.outdir}/output_report/05.ewas_plot/chh"},
            mode:params.publish_dir_mode,
            pattern:"*.jpg"
        ]
        ]
        
    }

    withName:BETE2MENOYPTE_CHG{
        publishDir = [
            path:"${params.outdir}/06.menoypte/00.menotype/01.chg",
            mode: params.publish_dir_mode,
            pattern: "*.menotype"
        ]
    }
    withName:BETE2MENOYPTE_CPG{
        publishDir = [
            path:"${params.outdir}/06.menoypte/00.menotype/02.cpg",
            mode: params.publish_dir_mode,
            pattern: "*.menotype"
        ]
    }
    withName:BETE2MENOYPTE_CHH{
        publishDir = [
            path:"${params.outdir}/06.menoypte/00.menotype/03.chh",
            mode: params.publish_dir_mode,
            pattern: "*.menotype"
        ]
    }

    withName:GETCHRLENGTH{
        publishDir = [
            path:"${params.outdir}/06.menoypte/01.menotype_vcf_header",
            mode:params.publish_dir_mode,
            pattern:"*"
        ]
    }

    withName:VCF_ADD_HEADER{
        publishDir = [
            path:"${params.outdir}/06.menoypte/01.menotype_vcf_header",
            mode:params.publish_dir_mode,
            pattern:"*.header.vcf"
        ]
    }



    withName:MENOYPTE2VCF_CHG {
        publishDir = [
            path:"${params.outdir}/06.menoypte/02.vcf/01.chg",
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }
    withName:MENOYPTE2VCF_CPG {
        publishDir = [
            path:"${params.outdir}/06.menoypte/02.vcf/02.cpg",
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }
    withName:MENOYPTE2VCF_CHH {
        publishDir = [
            path:"${params.outdir}/06.menoypte/02.vcf/03.chh",
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName:SNPEFF_ANN_VCF{
        publishDir = [
            path:"${params.outdir}/06.menoypte/02.vcf/04.snpeff_ann",
            mode:params.publish_dir_mode,
            pattern:"*"
        ]
    }

    withName:EMMAX_PLINK_INDEP_CPG{
        publishDir = [
            path:"${params.outdir}/06.menoypte/test",
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
        ext.window_size={"500"}
        ext.variant_count={"10"}
        ext.variance_inflation_factor={"0.05"}
        ext.prefix={"${meta.id}_indep_${task.ext.window_size}_${task.ext.variant_count}_${task.ext.variance_inflation_factor}"}
        ext.args={"--noweb --allow-extra-chr"}
    }



    withName: BWAMETH_INDEX {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/03.${params.aligner}/01.reference_genome" },
            mode: params.publish_dir_mode,
            saveAs: { it.equals('versions.yml') ? null : it.tokenize("/").last() },
            enabled: params.save_reference
        ]
    }

    withName: BWAMETH_ALIGN {
        ext.args = ''
        publishDir = [
                path: { "${params.outdir}/03.${params.aligner}/02.alignments" },
                pattern: "*.bam",
                mode: params.publish_dir_mode,
                enabled: params.save_align_intermeds
        ]
    }

    withName: PICARD_MARKDUPLICATES {
        ext.args = "--ASSUME_SORTED true --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --PROGRAM_RECORD_ID 'null' --TMP_DIR tmp"
        ext.prefix = { "${meta.id}.markdup.sorted" }
        publishDir = [
            [
                path: { "${params.outdir}/03.${params.aligner}/03.deduplicated/01.picard_metrics" },
                pattern: "*.metrics.txt",
                mode: params.publish_dir_mode
            ],
            [
                path: { "${params.outdir}/03.${params.aligner}/03.deduplicated" },
                pattern: "*.bam",
                mode: params.publish_dir_mode
            ]
        ]
    }



    withName: SAMTOOLS_FLAGSTAT {
        publishDir = [
            [
                path: { "${params.outdir}/03.${params.aligner}/04.alignments/02.samtools_stats/" },
                mode: params.publish_dir_mode,
                pattern: "*.flagstat"
            ]
        ]
    }

    withName: SAMTOOLS_STATS {
        publishDir = [
            [
                path: { "${params.outdir}/03.${params.aligner}/04.alignments/02.samtools_stats/" },
                mode: params.publish_dir_mode,
                pattern: "*.stats"
            ]
        ]
    }

    withName: SAMTOOLS_FAIDX {
        ext.args = ""
        publishDir = [
            publishDir = [
            path: { "${params.outdir}/03.${params.aligner}/01.reference_genome/01.samtools_faidx" },
            mode: params.publish_dir_mode,
            enabled: params.save_reference,
            pattern: "*.fai"
           ],
           publishDir = [
            path: { "${params.outdir}/03.${params.aligner}/01.reference_genome/01.samtools_faidx" },
            mode: params.publish_dir_mode,
            enabled: params.save_reference,
            pattern: "*.kary"
           ]
        ]
   }

    withName: SAMTOOLS_INDEX_ALIGNMENTS {
        ext.args = ""
        publishDir = [
            [
                path: { "${params.outdir}/03.${params.aligner}/02.alignments/02.samtools_index_alignments" },
                mode: params.publish_dir_mode,
                pattern: "*.bam*",
                enabled: params.save_align_intermeds
            ]
        ]
    }

    withName: SAMTOOLS_INDEX_DEDUPLICATED {
        ext.args = ""
        publishDir = [
            [
                path: { "${params.outdir}/03.${params.aligner}/03.deduplicated/03.samtools_index_deduplicated" },
                mode: params.publish_dir_mode,
                pattern: "*.bai"
            ]
        ]
    }

    withName: METHYLDACKEL_MBIAS {
        ext.args = [
            params.comprehensive ? ' --CHG --CHH' : '',
            params.ignore_flags ? " --ignoreFlags" : ''
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/09.methyldackel/01.mbias" },
                mode: params.publish_dir_mode,
                pattern: "*mbias.txt"
            ]
        ]
    }

    withName: METHYLDACKEL_EXTRACT {
        ext.args = [
            params.comprehensive ? ' --CHG --CHH' : '',
            params.ignore_flags ? " --ignoreFlags" : '',
            params.methyl_kit ? " --methylKit" : '',
            params.min_depth > 0 ? " --minDepth ${params.min_depth}" : ''
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/10.methyldackel" },
                mode: params.publish_dir_mode,
                pattern: "*.bedGraph"
            ],
            [
                path: { "${params.outdir}/10.methyldackel" },
                mode: params.publish_dir_mode,
                pattern: "*.methylKit"
            ]
        ]
    }

    withName: QUALIMAP_BAMQC {
        ext.args = [
            params.genome.toString().startsWith('GRCh') ? '-gd HUMAN' : '',
            params.genome.toString().startsWith('GRCm') ? '-gd MOUSE' : ''
        ].join(" ").trim()
    }

    withName: PRESEQ_LCEXTRAP {
        ext.args = " -verbose -bam"
        publishDir = [
            [
                path: { "${params.outdir}/02.Alignment/01.${params.aligner}/06.preseq" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ],
            [
                path: { "${params.outdir}/02.Alignment/01.${params.aligner}/06.preseq/01.log" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/11.multiqc/01.${params.aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}






